@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.wham-letter {
  color: #87CEEB;
  -webkit-text-stroke: 8px #FF2EC4;
  text-stroke: 8px #FF2EC4;
  font-weight: 900;
  line-height: 1;
}

.wham-letter-a {
  color: #87CEEB;
  -webkit-text-stroke: 10px #FF2EC4;
  text-stroke: 10px #FF2EC4;
  font-weight: 900;
  line-height: 1;
}

.a-triangle {
  clip-path: polygon(50% 20%, 30% 70%, 70% 70%);
}
